
@{
    ViewBag.Title = "Section";
}

<h2>This is a Section Page</h2>

<h4>Here a section of code will be place at menubar and footer </h4>

@section SectionMenuBar
{
    <a class="navbar-item text-danger  " style="font-size:20px; vertical-align:middle"> Section Menu </a> 
}

@section SectionFooter
{
  <h2 class="text text-danger"> This is came from Section part and render it in the Footer portion</h2>
}



