
@{
    ViewBag.Title = "CacheAtServer";
}

<h2>CacheAtServer</h2>
<h3> Here data will be store at server for assign duration</h3>
<h4>If you refresh the page within duration then also it stores the data at server and not run the action method</h4>
<h2>Current Date Time is - @DateTime.Now</h2>

