
@{
    ViewBag.Title = "Index";
}

<h2>Ajax action Link</h2>


@Ajax.ActionLink("Country List", "Country", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "container"

})

@Ajax.ActionLink("State List", "State", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "container"

})
@Ajax.ActionLink("City List", "City", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "container"

})



<div id="container">

</div>

